body {
    overflow-x: hidden; 
}

p {
    padding: 10px;
    font-family: 'Crimson Text', Georgia, Times, serif;
    font-size: 20px;
    line-height: 25px;
}

h2 {
    padding: 10px;
    font-family: 'Allerta', Helvetica, Arial, sans-serif;
    font-size: 50px;
    line-height: 55px;
    text-shadow: 1px 1px 1px #ccc;
}

.container-fluid{
    padding-top: 70px;
    padding-bottom: 70px;
}

.section1 {
    background-color: #ccffe6;
   
}

.section2{
    background-color: #e6f3ff;
}

.section3{
    background-color: #f2f2f2;
    
}


